# Data Programming : Problem Set 2

# 1) Running and executing the given code :

In [5]:
a=0
def b():
    global a
    a=c(a)
    print(a)
    
def c(a):
    return a+2

b()
b()
b()
a

2
4
6

6

# Explanation:

Here,in the program the variable a is declared global so that every function can use that variable.

Variable a is initially 0 i.e (a=0)

Now, firstly when b() function is called, value of a is 0 and when function c() is called through variable a, which returns 0+2 that is 2 to a.

Now the value of a is changed from 0 to 2 after calling function b().
Every time function b() is called 2 is added to variable a.

Thus after calling b() three times value of a is 6 at the end.

# 2) Printing a friendly message of exception generated from function fileLength().

In [8]:
def fileLength(filename):
    file=open(filename,'r')
    count=len(file.read())
    i_count=int(count)
    print('length of file is :',i_count)
        
fileLength('bloodtype.txt')

length of file is : 77

In [6]:
def fileLength(excepFile):
    try:
        excepInput=open(excepFile,'r')
        cnt=len(excepFile.read())
        i_cnt=int(cnt)
        print('Length of file is :',i_cnt)
    except:
        print('File not found')
        print('\nEnter the file name you which is already existing or check the name which you have entered')
        
        
fileLength('exceptionalcase.txt')

File not found

Enter the file name you which is already existing or check the name which you have entered

# 3) Inheriting class Kangaroo to class Marsupial and performing given task.

In [14]:
class Marsupial:
    
    list=[]
    def put_in_pouch(self,strng):
       self.list.append(strng)
    def pouch_contents(self):
        return(self.list)

In [15]:
m = Marsupial()
m.put_in_pouch('Doll')
m.put_in_pouch('Firetruck')
m.put_in_pouch('Kitten')
m.pouch_contents()

['Doll', 'Firetruck', 'Kitten']

# Inheriting class Kangaroo

In [46]:
class Marsupial:
    
    list=[]
    list.clear()
    
    def __init__(self,x_coord,y_coord):
        self.x = x_coord
        self.y = y_coord
        
    def put_in_pouch(self,strng):
        self.list.append(strng)
        
    def pouch_contents(self):
        return(self.list)
    
    def jump(self,dx,dy):
        self.x = self.x+dx
        self.y = self.y+dy
        print('I am kangaroo located at coordinates({},{})'.format(self.x,self.y))
        
class Kangaroo(Marsupial):
    
    pass

In [47]:
k = Kangaroo(0,0)
k.put_in_pouch('Doll')
k.put_in_pouch('Firetruck')
k.put_in_pouch('kitten')
k.pouch_contents()

['Doll', 'Firetruck', 'kitten']

In [48]:
k.jump(1,0)

I am kangaroo located at coordinates(1,0)

In [38]:
k.jump(1,0)

I am a Kangaroo located at coordinates(2,0)

In [39]:
k.jump(1,0)

I am a Kangaroo located at coordinates(3,0)

# 4) Created a function  collatz() that takes a positive integer as an input and prints the collatz sequence provided below:

              x = {𝑥/2           𝑖𝑓 𝑥 𝑖𝑠 𝑒𝑣𝑒𝑛
                  {3𝑥 + 1        𝑖𝑓 𝑥 𝑖𝑠 𝑜𝑑d

In [12]:
def collatz(x):
    
    if x==1:
        return 1
    elif x%2 == 0:
        print(x)
        x=int(x/2)
        collatz(x)
    else:
        print(x)
        x =int(3*x+1)
        collatz(x)

In [13]:
collatz(1)

1

In [14]:
collatz(10)

10
5
16
8
4
2

# 5)Created a recursive method binary() which takes a positive integer and returns the binary representation of the input.

In [16]:
def binary(binary_num):

    if binary_num < 2:
        print(binary_num)
    else:
        binary_con=bin(binary_num)
        print(binary_con)

In [17]:
binary(0)

0

In [20]:
binary(1)

1

In [21]:
binary(3)

0b11

In [22]:
binary(9)

0b1001

# 6 Having a string containing a HTML code and printing heading from the given code.

In [7]:
from html.parser import HTMLParser

class Heading(HTMLParser):
    
    def handle_data(self, data):
        print(data)

In [8]:
file=open('w3c.html')
txt=file.read()
file.close()
html_heading = Heading()
html_heading.feed(txt)

Change_me














W3C Mission


Principles

# 7) Implementing  recursive function webdir() that takes as input: a URL (as a string) and non-negative integers depth and indent which visit every web page reachable from the starting URL web page in depth clicks or less, and print each web page's URL.

In [8]:
from html.parser import HTMLParser
from urllib.request import urlopen
from urllib.parse import urljoin

class Appender(HTMLParser):
    def __init__(self,url):
        HTMLParser.__init__(self)
        self.url = url
        self.url_links = []
    def append(self):
        return self.url_links
    def handle_starttag(self, url_tag, attributes):
        for a in attributes:
            ab = urljoin(self.url,a[1])
            if ab[:4] == 'http':
                self.url_links.append(ab)
    
def webdir(url, depth, i=0):
    depth = depth - 1
    print(i*' ',url)
    objective = urlopen(url).read().decode()
    collection = Appender(url)
    collection.feed(objective)
    urls = collection.append()
    url_links = urls
    i = i + 4
    for link in url_links:
        if depth < 0 or i < 0:
            return 1
        else: 
            webdir(link, depth, i)
            
webdir('http://reed.cs.depaul.edu/lperkovic/test1.html', 2, 0)

 http://reed.cs.depaul.edu/lperkovic/test1.html
     http://reed.cs.depaul.edu/lperkovic/test2.html
         http://reed.cs.depaul.edu/lperkovic/test4.html
     http://reed.cs.depaul.edu/lperkovic/test3.html
         http://reed.cs.depaul.edu/lperkovic/test4.html

# 8) SQL Queries :

# Creating Database called Reports_weather and a table called Details which contains all the details of seasons, temperature and rainfall in particular country and as well as city for more information :

In [20]:
import sqlite3
weather_details = sqlite3.connect('Reports_weather.db')
reprt = weather_details.cursor()
reprt.execute("CREATE TABLE Details (City text,Country text,Season text,Temperature float, Rainfall float)")

# Adding data in the table Details :

In [21]:
name = "INSERT INTO Details (City, Country, Season, Temperature, Rainfall) VALUES (?, ?, ?, ?, ?)"
value = [
    ('Mumbai', 'India', 'Winter', 24.8, 5.9),
    ('Mumbai', 'India', 'Spring',28.4,16.2)
]

reprt.executemany(name,value)

In [23]:
reprt.execute("SELECT * FROM Details ")
for i in reprt:
    print(i)

('Mumbai', 'India', 'Winter', 24.8, 5.9)
('Mumbai', 'India', 'Spring', 28.4, 16.2)

In [24]:
name = "INSERT INTO Details (City, Country, Season, Temperature, Rainfall) VALUES (?, ?, ?, ?, ?)"
value = [
    ('Mumbai','India','Summer',27.9,1549.4),
    ('Mumbai','India','Fall',27.6,346.0),
    ('London','United Kingdom','Winter',4.2,207.7),
    ('London','United Kingdom','Spring',8.3,169.6),
    ('London','United Kingdom','Summer',15.7,157.0),
    ('London','United Kingdom','Fall',10.4,218.5),
    ('Cairo','Egypt','Winter',13.6,16.5),
    ('Cairo','Egypt','Spring',20.7,6.5),
    ('Cairo','Egypt','Summer',27.7,0.1),
    ('Cairo','Egypt','Fall',22.2,4.5)
]

reprt.executemany(name,value)

# Table after adding the data :

In [25]:
reprt.execute("SELECT * FROM Details ")
for i in reprt:
    print(i)

('Mumbai', 'India', 'Winter', 24.8, 5.9)
('Mumbai', 'India', 'Spring', 28.4, 16.2)
('Mumbai', 'India', 'Summer', 27.9, 1549.4)
('Mumbai', 'India', 'Fall', 27.6, 346.0)
('London', 'United Kingdom', 'Winter', 4.2, 207.7)
('London', 'United Kingdom', 'Spring', 8.3, 169.6)
('London', 'United Kingdom', 'Summer', 15.7, 157.0)
('London', 'United Kingdom', 'Fall', 10.4, 218.5)
('Cairo', 'Egypt', 'Winter', 13.6, 16.5)
('Cairo', 'Egypt', 'Spring', 20.7, 6.5)
('Cairo', 'Egypt', 'Summer', 27.7, 0.1)
('Cairo', 'Egypt', 'Fall', 22.2, 4.5)

# a) Extracting all the temperature data :

In [26]:
reprt.execute("SELECT Temperature FROM Details")
for i in reprt:
    print(i)

(24.8,)
(28.4,)
(27.9,)
(27.6,)
(4.2,)
(8.3,)
(15.7,)
(10.4,)
(13.6,)
(20.7,)
(27.7,)
(22.2,)

# b) Extracting all the cities, but without repetition :

In [27]:
reprt.execute("SELECT DISTINCT City FROM Details")
for i in reprt:
    print(i)

('Mumbai',)
('London',)
('Cairo',)

# c) Extracting all the records for India :

In [28]:
reprt.execute("SELECT * FROM Details WHERE Country='India'")
for i in reprt:
    print(i)

('Mumbai', 'India', 'Winter', 24.8, 5.9)
('Mumbai', 'India', 'Spring', 28.4, 16.2)
('Mumbai', 'India', 'Summer', 27.9, 1549.4)
('Mumbai', 'India', 'Fall', 27.6, 346.0)

# d) Extracting all Fall records :

In [29]:
reprt.execute("SELECT * FROM Details WHERE Season='Fall'")
for i in reprt:
    print(i)

('Mumbai', 'India', 'Fall', 27.6, 346.0)
('London', 'United Kingdom', 'Fall', 10.4, 218.5)
('Cairo', 'Egypt', 'Fall', 22.2, 4.5)

# e) Extracting cities, countries and seasons whose average rainfall is between 200 and 400 millimeters :

In [31]:
reprt.execute("SELECT City,Country,Season FROM Details WHERE Rainfall>200 AND Rainfall<400")
for i in reprt:
    print(i)

('Mumbai', 'India', 'Fall')
('London', 'United Kingdom', 'Winter')
('London', 'United Kingdom', 'Fall')

# f) Extracting cities and countries whose average Fall temperature is above 20 and that too in increasing temperature order :

In [33]:
reprt.execute("SELECT City,Country FROM Details WHERE Season='Fall' AND Temperature>20 ORDER BY Temperature ASC")
for i in reprt:
    print(i)

('Cairo', 'Egypt')
('Mumbai', 'India')

# g) Calculating the total annual rainfall for Cairo :

In [34]:
reprt.execute("SELECT SUM(Rainfall) FROM Details WHERE City='Cairo'")
for i in reprt:
    print(i)

(27.6,)

# h) Calculating the total Rainfall for each season :

In [35]:
reprt.execute("SELECT Season, SUM(Rainfall) FROM Details GROUP BY Season;")
for i in reprt:
    print(i)

('Fall', 569.0)
('Spring', 192.29999999999998)
('Summer', 1706.5)
('Winter', 230.1)

# 9)Listing the comprehension expressions  by using the given list of words :

In [36]:
word = ['The','quick','brown','fox','jumps','over','the','lazy','dog']
print(word)

['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

# a)Converting the list to upper case :

In [37]:
uppr_case = [upr_wrd.upper() for upr_wrd in word]
print(uppr_case)

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

# b) Converting the list to lower case :

In [38]:
lower_case = [lwr_wrd.lower() for lwr_wrd in word]
print(lower_case)

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

# c) Counting length of each word in the list :

In [39]:
cnt_word = [len(cnt) for cnt in word]
print(cnt_word)

[3, 5, 5, 3, 5, 4, 3, 4, 3]

# d) Converting each word into upper case, lower case and counting the length of each word provided in the list :

In [40]:
mix_words = [(mix.upper(),mix.lower(),len(mix)) for mix in word]
print(mix_words)

[('THE', 'the', 3), ('QUICK', 'quick', 5), ('BROWN', 'brown', 5), ('FOX', 'fox', 3), ('JUMPS', 'jumps', 5), ('OVER', 'over', 4), ('THE', 'the', 3), ('LAZY', 'lazy', 4), ('DOG', 'dog', 3)]

# e) Extracting the words from the list whose length is greater than 4 :

In [41]:
great = [grt for grt in word if len(grt)>=4]
print(great)

['quick', 'brown', 'jumps', 'over', 'lazy']